.wrapper {
  color: #999999;
  border: 1px solid #999999;
  border-radius: 8px;
  width: 272px;
  height: 56px;
  margin: 14px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;

  .question {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    .answer {
      background-color: #00e88f;
      color: black;
      border: none;
    }
    .position {
      font-weight: bold;
      align-self: center;
    }
    button {
      transition: background-color 0.3s ease-in-out;
      //outline: none;
      color: #999999;
      background-color: white;
      border: 1px solid #969a9c;
      border-radius: 32px;
      height: 32px;
      width: 32px;
      font-weight: bold;
      cursor: pointer;
    }
    .disabled {
      cursor: not-allowed;
    }
  }
  .hinter {
    transition: font-size 0.1s ease;
    font-size: 0px;
  }
}

.selected {
  color: #191a1a;
  border: 2px solid #191a1a;
  height: 95px;

  .question {
    button {
      color: #191a1a;
      border: 1px solid #969a9c;
    }
    border-bottom: 1px solid #cacdce;
  }
  .hinter {
    font-weight: bold;
    padding: 11px;
    font-size: 14px;
    text-decoration: 1px underline;
  }
}

.skiped {
  background-color: rebeccapurple;
  .question {
    button {
      color: white;
      background-color: #999999;
    }
  }
}
