.etapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  align-items: center;
  .selector-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    justify-content: space-evenly;
    margin-bottom: 64px;
  }
}

.etapa-3 {
  .selector-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    width: 25vw;
    row-gap: 8px;
  }
}
