.heading {
  margin: 45px auto;
  font-family: Aprova Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.2000000476837158px;
  text-align: center;
}
